body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, orange);
    border-radius: 20px;
    padding: 10px 30px;


}

h2 {
    color: rgb(78, 72, 72);
    font-size: 40px;
    margin: 5px;
}

.first-para {
    width: 50%;
    padding-left: 10%;
    padding-top: 10%;
}

.body1 {
    width: 50%;
    padding-right: 200px;
    padding-top: 50px;
}

.small-para {
    font-size: small;
    color: rgb(116, 113, 113);
    margin-bottom: 30px;
}

.felxible-container {
    display: flex;
    margin-bottom: 100px;

}

.body1 img {
    width: 150%;

}

.female1 {
    width: 50%;
    padding-left: 200px;
}

.female1 img {
    width: 50%;
}

.second-para {
    width: 50%;
    padding-right: 15%;
    padding-top: 5%;
}

.topbanner1 {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.section3 {
    text-align: center;
}

h3 {
    font-size: larger;
}

.half-width {
    height: fit-content;
    width: 40%;
    margin-left: 70px;
    box-shadow: 5px 5px 5px 1px rgb(176, 176, 176);
    border-radius: 50px;
    margin-right: 20px;
    padding: 10px;
    border-left: 2px solid tomato;
}

.half-width img {
    width: 90%;
    padding-left: 23px;
    padding-top: 20px;
}

.half-width p {
    padding-left: 20px;
}

.half-width h3 {
    padding-left: 20px;
}

.section4 {
    padding-top: 20px;
}

.social {
    margin: 2% 20% 2% 5%;

}

.section5 {
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 1px 1px 1px 1px #eeeeee, -1px -1px 1px 1px #efefef;
    padding: 1% 10% 1% 8%;
}

.blackfont {
    color: black;
    margin: -5%;
}