body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, orange);
    border-radius: 20px;
    padding: 10px 30px;


}

h2 {
    color: rgb(78, 72, 72);
    font-size: 40px;
    margin: 5px;
}

.first-para {
    width: 50%;
    padding-left: 10%;
    padding-top: 10%;
}

.body1 {
    width: 50%;
    padding-right: 200px;
    padding-top: 50px;
}

.small-para {
    font-size: small;
    color: rgb(116, 113, 113);
    margin-bottom: 30px;
}

.felxible-container {
    display: flex;
    margin-bottom: 120px;

}

.body1 img {
    width: 150%;

}

.female1 {
    width: 50%;
    padding-left: 200px;
}

.female1 img {
    width: 50%;
}

.second-para {
    width: 50%;
    padding-right: 15%;
    padding-top: 5%;
}

.topbanner1 {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.section3 {
    text-align: center;
}

h3 {
    font-size: larger;
}